.login {
  background: linear-gradient(
    45deg,
    #1c1c1c,
    #1c1c1c,
    #1c1c1c,
    rgb(47, 0, 255)
  );
}

div.center {
  height: 10em;
  position: relative;
}
div.center h1 {
  margin: 0;
  position: absolute;

  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.fa-blue {
  color: blue !important;
}

.fa-green {
  color: #23db8b !important;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid #a3a3a3;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 15px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border: 2px solid #3333ff;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
